* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  /* height: 100vh; */
  background-color: rgb(255, 255, 255);
  /* margin-bottom: 1rem; */
}
/* navbar start */
.navbar {
  width: 100%;
  height: 4.5rem;
  background-color: black;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  color: white;
  gap: 10px;
}
.navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 3.5rem;
  width: 9rem;
  margin-left: 10px;
  cursor: pointer;
}
.navbar .logo:hover {
  outline: 1px solid white;
}
.navbar .logo img {
  min-width: 100px;
  max-width: 150px;
  height: 8rem;
  margin-top: 10px;
}
.navbar .address {
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  height: 3.5rem;
  padding: 0.5rem;
}
.navbar .address:hover {
  outline: 1px solid white;
}
.navbar .address .icon i {
  font-size: 20px;
  margin-top: 20px;
}
.navbar .address .currentaddress {
  display: flex;
  flex-direction: column;
}
.navbar .address .currentaddress span:nth-child(1) {
  color: rgb(171, 172, 172);
  font-size: 0.8rem;
}
.navbar .address .currentaddress span:nth-child(2) {
  font-weight: 800;
  font-size: 0.8rem;
}
.navbar .searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 46rem;
  background-color: aqua;
  overflow: hidden;
  border-radius: 0.3rem;
}
/* .navbar .searchbar:hover{
    border: 2px solid orange;
} */

.navbar .searchbar .all {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  /* margin-right: 10px; */
  border-right: 1px solid rgb(150, 135, 135);
  padding: 10px 25px;
  overflow: hidden;
  background-color: rgb(214, 212, 212);
  gap: 5px;
  color: black;
  cursor: pointer;
}
.navbar .searchbar .input {
  width: 44rem;
  height: 2.5rem;
}
.navbar .searchbar .input input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 20px;
  background-color: rgb(237, 237, 237);
  outline: none;
  padding-left: 20px;
}
/* .navbar .searchbar .input input:focus ~ .searchbar {
    border: 3px solid rgb(158, 158, 70);
} */
.navbar .searchbar:focus-within {
  outline: 3px solid rgb(154, 181, 33);
}
.navbar .searchbar .searchicon {
  background-color: rgb(240, 192, 102);
  padding: 10px 15px;
  color: black;
  cursor: pointer;
  border-left: 1px solid rgb(162, 151, 151);
}

.navbar .lang {
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  height: 3.5rem;
  padding: 0.5rem;
}
.navbar .lang img {
  width: 1.2rem;
}
.navbar .lang:hover {
  outline: 1px solid white;
}
.navbar .person {
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 0.2rem;
  height: 3.5rem;
  padding: 0.5rem;
  text-align: left;
}
.navbar .person p:nth-child(1) {
  font-size: 0.8rem;
}
.navbar .person p:nth-child(2) {
  font-weight: 800;
  font-size: 1rem;
}
.navbar .person:hover {
  outline: 1px solid white;
}
.navbar .returns_orders {
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  height: 3.5rem;
  padding: 0.5rem;
  font-size: 0.9rem;
}
.navbar .returns_orders:hover {
  outline: 1px solid white;
}
.navbar .cart {
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  height: 3.5rem;
  padding: 0.5rem;
  /* position: relative; */
}
.navbar .cart i {
  position: relative;
  font-size: 35px;
}
.navbar .cart i span {
  position: absolute;
  font-size: 18px;
  color: black;
  right: 10px;
  bottom: 15px;
}
.navbar .cart p {
  font-size: 15px;
}
.navbar .cart p::first-letter {
  font-size: 24px;
}
.navbar .cart:hover {
  outline: 1px solid white;
}
/* navbar end */
/* secondnavbar start */
.secondnavbar {
  display: flex;
  width: 100%;
  height: 2.5rem;
  background-color: rgb(61, 22, 55);
  color: white;
  gap: 10px;
}
.secondnavbar .first {
  display: flex;
  flex-grow: 3;
  gap: 0.4rem;
  font-size: 13px;
  align-items: center;
  /* justify-content: space-around; */
}
.secondnavbar .first div {
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 500;
}
.secondnavbar .first .all {
  display: flex;
  gap: 5px;
  align-items: center;
}
.secondnavbar .first .prime {
  display: flex;
  align-items: center;
  gap: 5px;
}
.secondnavbar .second img {
  height: 1.8rem;
  width: 100%;
}
.secondnavbar .second {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 5px;
  cursor: pointer;
}
.secondnavbar .second:hover {
  outline: 1px solid white;
}
.secondnavbar .first div:hover {
  outline: 1px solid white;
}

/*secondnavbar end */

/* hero section start */
.herosection {
  background-image: linear-gradient(
      to bottom,
      rgb(238, 111, 111, 0),
      rgb(14, 7, 7, 0.7)
    ),
    url("images/hero2img.jpg");
  height: 300px;
  background-size: cover;
  box-shadow: 100px 100px 500px black, -100px 100px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: relative; */
  cursor: pointer;
}
.herosection i {
  color: rgb(215, 195, 195);
  font-size: 3.3rem;
  margin: 0 50px;
  cursor: pointer;
  padding: 10px;
}
.herosection i:hover {
  background-color: rgb(44, 44, 106);
}
/* hero section end */

/* 1strow start */
.firstrow {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  width: 100%;
  height: 26rem;
  /* position: absolute; */
  /* bottom: -110px; */
  /* background-color: blue; */
  z-index: 10;
  margin-bottom: 20px;
}
.firstrow .box {
  width: 23rem;
  height: 25rem;
  background-color: red;
  box-shadow: 0px 10px 15px rgb(176, 172, 172);
}
.firstrow .box:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 18px;
  background-color: white;
}
.firstrow .box:nth-child(1) img {
  width: 100%;
  cursor: pointer;
}
.firstrow .box:nth-child(1) p {
  font-size: 20px;
  font-weight: 800;
}
.firstrow .box:nth-child(1) a {
  font-size: 13px;
  text-decoration: none;
  color: #007185;
}
.firstrow .box:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  gap: 0.5rem;
  background-color: white;
}
.firstrow .box:nth-child(2) .mainbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 1rem;
  justify-content: center;
}
.firstrow .box:nth-child(2) .mainbox .minibox {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  gap: 0.3rem;
  background-color: aliceblue;
  padding: 5px;
  cursor: pointer;
}
.firstrow .box:nth-child(2) .mainbox .minibox img {
  width: 9rem;
  height: 6rem;
  object-fit: contain;
  mix-blend-mode: multiply;
}
.firstrow .box:nth-child(2) p {
  font-size: 20px;
  font-weight: 800;
}
.firstrow .box:nth-child(2) a {
  font-size: 13px;
  text-decoration: none;
  color: #007185;
}

.firstrow .box:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  gap: 0rem;
  background-color: white;
}
.firstrow .box:nth-child(3) .mainbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 1rem;
  justify-content: center;
}
.firstrow .box:nth-child(3) .mainbox .minibox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  gap: 0.3rem;
  background-color: aliceblue;
  padding: 5px;
  cursor: pointer;
  width: 9.5rem;
  height: 8rem;
}
.firstrow .box:nth-child(3) .mainbox .minibox img {
  width: 7rem;
  height: 6rem;
  object-fit: contain;
  mix-blend-mode: multiply;
}
.firstrow .box:nth-child(3) p {
  font-size: 20px;
  font-weight: 800;
}
.firstrow .box:nth-child(3) a {
  font-size: 13px;
  text-decoration: none;
  color: #007185;
}

.firstrow .box:nth-child(4) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 18px;
  background-color: transparent;
  box-shadow: none;
}
.firstrow .box:nth-child(4) .box1 {
  display: flex;
  background-color: rgb(252, 252, 252);
  width: 100%;
  gap: 1rem;
  padding: 0.64rem;
  cursor: pointer;
}
.firstrow .box:nth-child(4) .box1 .content {
  /* background-color: rgb(202, 136, 136); */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.firstrow .box:nth-child(4) .box1 .content p {
  font-size: 20px;
  font-weight: 800;
}
.firstrow .box:nth-child(4) .box1 .content a {
  font-size: 13px;
  text-decoration: none;
}
.firstrow .box:nth-child(4) .box1 .image img {
  width: 6rem;
  height: 6rem;
}
.firstrow .box:nth-child(4) .box2 {
  box-shadow: 0px 10px 15px rgb(176, 172, 172);
  background-color: aliceblue;
  cursor: pointer;
}
.firstrow .box:nth-child(4) .box2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 1strow end */

/* media queries */
@media screen and (min-width: 1890px) {
  .navbar {
    width: 100%;
    gap: 30px;
  }
  .navbar .logo {
    width: 10rem;
    height: 4rem;
    margin-left: 30px;
  }
  .navbar .address {
    gap: 0.8rem;
    width: 15rem;
    padding: 0.7rem;
  }
  .navbar .address .currentaddress span:nth-child(1) {
    font-size: 0.9rem;
  }
  .navbar .address .currentaddress span:nth-child(2) {
    font-weight: 800;
    font-size: 1rem;
  }
  .navbar .searchbar {
    width: 75rem;
  }
  .navbar .searchbar .input {
    width: 70rem;
    height: 2.5rem;
  }
  .navbar .returns_orders {
    width: 7rem;
  }
  .navbar .person {
    width: 12rem;
  }
  .navbar .cart {
    margin-right: 20px;
  }
  .secondnavbar {
    gap: 10px;
  }
  .secondnavbar .second {
    height: 1.8rem;
    width: 30%;
  }
  .secondnavbar .first {
    gap: 1rem;
  }
  .herosection {
    height: 400px;
  }

}


@media screen and (max-width: 1890px) {
  .navbar {
    /* background-color: blue; */
  }
  .navbar .searchbar {
    width: 66rem;
  }
  .navbar .searchbar .input {
    width: 60rem;
    height: 2.5rem;
  }
  .navbar .cart {
    /* margin-right: 20px; */
    margin-left: 30px;
  }
  .herosection {
    height: 400px;
  }

}
@media screen and (max-width: 1800px) {
  .navbar {
    /* background-color: blue; */
  }
  .navbar .searchbar {
    width: 66rem;
  }
  .navbar .searchbar .input {
    width: 60rem;
    height: 2.5rem;
  }
  .navbar .cart {
    /* margin-right: 20px; */
    margin-left: 30px;
  }
  .herosection {
    height: 350px;
  }
}
@media screen and (max-width: 1700px) {
  .navbar {
    /* background-color: blue; */
  }
  .navbar .searchbar {
    width: 60rem;
  }
  .navbar .searchbar .input {
    width: 55rem;
    height: 2.5rem;
  }
  .navbar .cart {
    /* margin-right: 20px; */
    /* margin-left: 10px; */
  }
  .herosection {
    height: 300px;
  }
}
@media screen and (max-width: 1614px) {
  .navbar {
    /* background-color: blue; */
  }
  .navbar .searchbar {
    width: 47rem;
  }
  .navbar .searchbar .input {
    width: 55rem;
  }
  .navbar .cart {
    /* margin-right: 20px; */
    /* margin-left: 10px; */
  }
}
@media screen and (max-width: 1559px) {
  .navbar {
    /* background-color: blue; */
  }
  .navbar .searchbar {
    width: 45rem;
  }
  .navbar .searchbar .input {
    width: 55rem;
  }
  .navbar .cart {
    /* margin-right: 20px; */
    /* margin-left: 10px; */
  }
  .secondnavbar .first {
    gap: 0rem;
  }
  .firstrow .box {
    width: 22rem;
  }
  .firstrow .box:nth-child(2) {
    padding: 10px;
  }
  .firstrow .box:nth-child(3) {
    padding: 10px;
  }
}
@media screen and (max-width: 1411px) {
  .navbar {
    /* background-color: blue; */
  }
  .navbar .searchbar {
    width: 35rem;
  }
  .navbar .searchbar .input {
    width: 55rem;
  }
  .navbar .cart {
    /* margin-right: 20px; */
    /* margin-left: 10px; */
  }
  .secondnavbar .first div {
    font-size: 10px;
  }
  .secondnavbar .first {
    gap: 0rem;
  }
  .firstrow .box {
    width: 19rem;
  }
  .firstrow .box:nth-child(2) {
    padding: 5px;
    gap: 0.3rem;
  }
  .firstrow .box:nth-child(2) .mainbox {
    column-gap: 0.5rem;
    row-gap: 0.5rem;
  }
  .firstrow .box:nth-child(2) .mainbox .minibox {
    padding: 0;
    font-size: 12px;
  }
  .firstrow .box:nth-child(2) .mainbox .minibox img {
    width: 8rem;
  }
  .firstrow .box:nth-child(3) {
    padding: 10px;
  }
  .firstrow .box:nth-child(3) .mainbox {
    column-gap: 0.5rem;
    row-gap: 0.5rem;
  }
  .firstrow .box:nth-child(3) .mainbox .minibox {
    padding: 0;
    font-size: 10px;
    width: 8rem;
  }
  .firstrow .box:nth-child(3) .mainbox .minibox img {
    width: 6rem;
    height: 5rem;
  }
  .firstrow .box:nth-child(4) {
    width: 24rem;
  }
}
@media screen and (max-width: 1255px) {
  .navbar {
    /* background-color: blue; */
  }
  .navbar .searchbar {
    width: 30rem;
  }
  .navbar .searchbar .input {
    width: 25rem;
  }
  .navbar .cart {
    /* margin-right: 20px; */
    /* margin-left: 10px; */
  }
  .herosection {
    height: 250px;
  }
  .firstrow .box {
    width: 16rem;
    height: 20rem;
  }
  .firstrow .box:nth-child(2) {
    padding: 5px;
    gap: 0.3rem;
  }
  .firstrow .box:nth-child(2) .mainbox {
    column-gap: 0.5rem;
    row-gap: 0.5rem;
  }
  .firstrow .box:nth-child(2) .mainbox .minibox {
    padding: 0;
    font-size: 12px;
  }
  .firstrow .box:nth-child(2) .mainbox .minibox img {
    width: 6rem;
  }
  .firstrow .box:nth-child(3) {
    padding: 10px;
  }
  .firstrow .box:nth-child(3) .mainbox {
    column-gap: 0.5rem;
    row-gap: 0.5rem;
  }
  .firstrow .box:nth-child(3) .mainbox .minibox {
    padding: 0;
    font-size: 10px;
    width: 6rem;
    height: 6rem;
  }
  .firstrow .box:nth-child(3) .mainbox .minibox img {
    width: 5rem;
    height: 5rem;
  }
  .firstrow .box:nth-child(1) p,
  .firstrow .box:nth-child(2) p,
  .firstrow .box:nth-child(3) p {
    font-size: 15px;
  }
  .firstrow .box:nth-child(4) {
    width: 21rem;
    /* background-color: blue; */
    margin-top: 0px;
  }
  .firstrow .box:nth-child(4) .box1 .content p {
    font-size: 15px;
  }
  .firstrow .box:nth-child(4) .box2 img {
    height: 180px;
    width: 300px;
  }
}
@media screen and (max-width: 1184px) {
  .navbar {
    /* background-color: blue; */
    gap: 5px;
  }
  .navbar .address {
    height: 4.5rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    height: 3.5rem;
    padding: 0.3rem;
  }
  .navbar .address .currentaddress span:nth-child(1) {
    font-size: 0.7rem;
    font-weight: 600;
  }
  .navbar .person {
    /* background-color:red; */
  }
  .navbar .address .currentaddress span:nth-child(2) {
    font-weight: 800;
    font-size: 0.8rem;
  }
  .navbar .person p:nth-child(1) {
    font-size: 0.7rem;
    font-weight: 600;
  }
  .navbar .person p:nth-child(2) {
    font-weight: 800;
    font-size: 0.8rem;
  }
  .navbar .returns_orders {
    /* background-color: pink; */
  }
  .navbar .searchbar {
    width: 25rem;
  }
  .navbar .searchbar .input {
    width: 20rem;
  }
  .navbar .cart {
    /* margin-right: 20px; */
    /* margin-left: 10px; */
    margin-left: 20px;
  }
  .firstrow .box:nth-child(2) {
    padding: 5px;
    gap: 0.3rem;
  }
  .firstrow .box:nth-child(2) .mainbox {
    column-gap: 0.5rem;
    row-gap: 0.5rem;
  }
  .firstrow .box:nth-child(2) .mainbox .minibox {
    padding: 0;
    font-size: 10px;
  }
  .firstrow .box:nth-child(2) .mainbox .minibox img {
    width: 5rem;
  }
  .firstrow .box:nth-child(3) {
    padding: 10px;
  }
  .firstrow .box:nth-child(3) .mainbox {
    column-gap: 0.5rem;
    row-gap: 0.5rem;
  }
  .firstrow .box:nth-child(3) .mainbox .minibox {
    padding: 0;
    font-size: 10px;
    width: 5rem;
    height: 6rem;
  }
  .firstrow .box:nth-child(3) .mainbox .minibox img {
    width: 5rem;
    height: 5rem;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
    height: 100vh;
    /* background-color: blue; */
  }
  .navbar {
    width: 100%;
    /* background-color: blue; */
  }
  .navbar .returns_orders {
    display: none;
  }
  .herosection {
    height: 200px;
  }
}

/* todays deals start */
.todaydeals {
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 23rem;
  justify-content: center;
  box-shadow: 5px 5px 10px rgb(125, 119, 119);
  gap: rem;
  /* padding-bottom: 30px;
   padding-top: 20px; */
  margin: auto;
}
.todaydeals .heading {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
  margin-left: 2.1rem;
}
.todaydeals .heading p:nth-child(1) {
  font-weight: 700;
  font-size: 25px;
}
.todaydeals .heading p:nth-child(2) {
  color: #007185;
  font-size: 15px;
}
.todaydeals .boxmain {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.todaydeals .boxmain .box {
  display: flex;
  flex-direction: column;
  /* background-color: rgba(52, 106, 95, 0.504); */
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.todaydeals .boxmain .box .second {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  gap: 0.2rem;
}
.todaydeals .boxmain .box .second .offer {
  display: flex;
  gap: 0.7rem;
}
.todaydeals .boxmain .box .second .offer p:nth-child(1) {
  background-color: rgb(169, 37, 37);
  border-radius: 0.2rem;
  color: white;
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
}
.todaydeals .boxmain .box .second .offer p:nth-child(2) {
  border-radius: 0.2rem;
  color: red;
  font-size: 12px;
  padding: 5px;
}
.todaydeals .boxmain .box .second p {
  font-size: 13px;
  color: rgb(82, 45, 45);
}
.todaydeals .boxmain .box .first {
  background-color: rgb(225, 225, 225);
  padding: 10px 40px;
  cursor: pointer;
}
.todaydeals .boxmain .box .first img {
  mix-blend-mode: multiply;
  object-fit: cover;
}

@media screen and (max-width: 1392px) {
  .todaydeals {
    /* background-color: blue; */
  }
  .todaydeals .mainbox .box {
    width: ;
  }
  .todaydeals .boxmain .box .first img {
    object-fit: contain;
    width: 10rem;
    height: 10rem;
    aspect-ratio: 3/2;
  }
  .todaydeals .boxmain .box .first{
    padding: 10px;
  }
}
@media screen and (max-width: 1255px){
    .firstrow{  
        height: 22rem;
    }
}

/* todays deals end */

/* related to items */
 .relateditems{
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 20rem;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(125, 119, 119);
    margin-top: 30px;
    padding: 20px;
 }
 .relateditems .heading{
    display: flex;
    gap: 1rem;
    align-items: center;
 }
 .relateditems .heading p:nth-child(1){
    font-weight: 700;
    font-size: 25px;
 }
 .relateditems .heading p:nth-child(2){
    color: #007185;
    font-size: 15px;
    cursor: pointer;
 }
 .relateditems .mainbox{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 40px;
    gap: 1rem;
 }
 .relateditems .mainbox .box{
    cursor: pointer;
 }
 .relateditems .mainbox .box img{
    mix-blend-mode: multiply;
    object-fit: cover;
    width: 100%;
    
 }
 @media screen and (max-width:1210px) {
    .relateditems{
        height: 18rem;
    }
 }

/* related to items */

/*carbike start */
.carbike{
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 20rem;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(125, 119, 119);
    margin-top: 30px;
    padding: 20px;
    margin-bottom: 20px;
 }
 .carbike .heading{
    display: flex;
    gap: 1rem;
    align-items: center;
 }
 .carbike .heading p:nth-child(1){
    font-weight: 700;
    font-size: 25px;
 }
 .carbike .heading p:nth-child(2){
    color: #007185;
    font-size: 15px;
    cursor: pointer;
 }
 .carbike .mainbox{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 40px;
    gap: 10rem;
    margin-left: 10px;
 }
 .carbike .mainbox .box{
    cursor: pointer;
    margin-left: 1rem;
 }
 .carbike .mainbox .box img{
    mix-blend-mode: multiply;
    object-fit: cover;
    width: 100%;
    min-width: 70px;
 }
 @media screen and (max-width:2000px) {
    .carbike .mainbox{
        gap: 12rem;
        padding-left: 4rem;
      }
      .relateditems .mainbox{
        /* gap: 400px; */
        gap: 5rem;
        padding: 50px;
      }
 }
 @media screen and (max-width:1620px) {
    .carbike .mainbox{
        gap: 8rem;
        padding-left: 3rem;
      }
      .relateditems .mainbox{
        /* gap: 400px; */
        gap: 3rem;
        padding: 50px;
      }
 }
 @media screen and (max-width:1220px) {
    .carbike .mainbox{
        gap: 4rem;
        padding-left: 3rem;
      }
      .relateditems .mainbox{
        /* gap: 400px; */
        gap: 3rem;
        padding: 50px;
      }
 }
 @media screen and (max-width:1000px) {
    .carbike .mainbox{
        gap: 4rem;
        padding-left: 3rem;
      }
      .relateditems .mainbox{
        /* gap: 400px; */
        gap: 3rem;
        padding: 50px;
      }
      .carbike{
        height: 18rem;
      }
 }
 /* carbike end*/

 /* inspired start */
 .inspiredbrowser{
  display: flex;
  flex-direction: column;
  width: 98%;
  /* height: 60rem; */
  /* background-color: blue; */
  box-shadow: 5px 5px 10px rgb(72, 60, 60);
  margin: auto;
  margin-top: 30px;
  /* padding:10px; */
  padding-top: 20px;
  padding-bottom: 20px;
 }
 .inspiredbrowser .mainbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 0.1rem;
  row-gap: 2rem;
  width: 100%;
  height: 100%;
 }
 .inspiredbrowser .mainbox .box  {
  min-width:19vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px rgb(231, 216, 216);
 }
 .inspiredbrowser .mainbox .box .image {
 background-color: rgb(235, 241, 241);
 max-width: 15vw;
 min-width:200px;
 max-height: 15vw;
 min-height: 200px;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 0.5rem;
 overflow: hidden;
 }
 .inspiredbrowser .mainbox .box .image img{
  /* max-width:8vw;
  min-width:5vw; */
  width: 100%;
  aspect-ratio: 2/2;
  mix-blend-mode: multiply;
  object-fit: contain;
  cursor: pointer;
  transition: 0.3s;
 }
 .inspiredbrowser .mainbox .box .image img:hover{
  transform: scale(0.9);
 }
 .inspiredbrowser .mainbox .box .content{
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  gap: 2px;
 }
 .inspiredbrowser .mainbox .box .content p{
  font-size: 13px;
 }
 .inspiredbrowser .heading{
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 2.2rem;
 }
 .inspiredbrowser .heading p:nth-child(1){
  font-size: 25px;
  font-weight: 700;
 }
 .inspiredbrowser .heading p:nth-child(2){
  font-size: 15px;
  color: #007185;
 }
 .inspiredbrowser .mainbox .box .content p:nth-child(1){
  font-size: 15px;
  font-weight: 600;
  color: rgb(105, 58, 149);
  cursor: pointer;
 }
 .inspiredbrowser .mainbox .box .content p:nth-child(8) {
  background-color: rgb(209, 209, 73);
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
 }
 .inspiredbrowser .mainbox .box .content p:nth-child(7){
  font-size: 15px;
  color: rgb(91, 91, 198);
 }
 .inspiredbrowser .mainbox .box .content p:nth-child(6){
  color: rgb(50, 10, 10);
 }
 .inspiredbrowser .mainbox .box .content p:nth-child(6) span{
  font-size: 20px;
  color: rgb(15, 14, 14);
 }
 .inspiredbrowser .mainbox .box .content .stars i{
  color: rgb(250, 125, 58);
  font-size: 20px;
  /* background-color: yellow; */
 }
 /*inspired end */

 .footer{

 }
 .footer .Backtotop{
  width: 100%;
  height: 4rem;
  background-color: rgb(33, 82, 82);
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(228, 220, 220);
  cursor: pointer;
 }
 .footer .Backtotop:hover{
  background-color:rgb(31, 100, 100) ;
 }
 .footer .footercontent{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 5rem;
  width: 100%;
  background-color: rgb(48, 48, 71);
  padding: 5rem;
 }
 .footer .footercontent .first ,  .footer .footercontent .second, .footer .footercontent .third, .footer .footercontent .fourth {
  display: flex;
  flex-direction: column;
 
 }
 .footer .footercontent .first p ,  .footer .footercontent .second p, .footer .footercontent .third p, .footer .footercontent .fourth p{
  margin-bottom: 10px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
 }
 .footer .footercontent .first a ,  .footer .footercontent .second a, .footer .footercontent .third a, .footer .footercontent .fourth a{
  text-decoration: none;
  color: #DDDDDD;
  font-size: 15px;
 }
 .footer .footercontent .first a:hover ,  .footer .footercontent .second a:hover, .footer .footercontent .third a:hover, .footer .footercontent .fourth a:hover{
text-decoration: underline;
 }
 .footer .logolang{
  background-color: rgb(48, 48, 71); 
  width: 100%;
  /* height: 5rem; */
 }
 .footer .logolang .box1{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
 }
 .footer .logolang .box1 select{
  height: 2rem;
  background-color: transparent;
  color: white;
  padding: 6px;
  width: 5.3rem;
  cursor: pointer;
 }
 .footer .logolang .box1 select option{
  background-color: white;
  color: black;
 }
 .footer .logolang .box1 img{
  width: 10rem;
  cursor: pointer;
 }
 .footer .hori{
  width: 100%;
 border: 0.5px solid rgb(72, 68, 68);
 }

.footer .logolang .box2{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  font-size: 12px;
  color: white;
  padding-bottom: 2rem;
  gap: 0.7rem;
  flex-wrap: wrap;
  
}
.footer .logolang .box2 p{
  cursor: pointer;
}
.footer .box3{
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  width: 100%;
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer .box3 .mini:nth-child(1){
  display: flex;
  gap: 1rem;
}
.footer .box3 .mini:nth-child(1) p{
  cursor: pointer;
  font-size: small;
}
.footer .box3 .mini:nth-child(2){
font-size: small;
}